html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.custom-template-entry-builder {
  box-sizing: border-box;
  padding: 0 4px;
}

.entry-group__header-section h1,
.entry-group__header-section p {
  display: inline-block;
  margin-right: 10px;
}

.entry-container {
  display: flex;
  flex-wrap: wrap;
}

.role-section {
  margin-bottom: 20px;
  text-align: left;
  padding: 4px;
  box-sizing: border-box;
  flex: 0 0 50%;
  width: 50%;
}

.required-text {
  color: #4a90e2;
}

.optional-text {
  color: #8797a9;
}

.highlighted {
  /* background-color: rgba(74, 144, 226, 0.2); */
  /* border-left: 2px solid #4a90e2; */
}

.unhighlighted {
  background-color: rgba(200, 200, 200, 0.5);
}

.role-section:last-child {
  margin-bottom: 20px;
}

.role-section__entity {
  cursor: pointer;
}

.link-entries-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding: 40px 0;
  box-sizing: border-box;
}

.extension__refresh {
  margin: 40px 0;
}

.text-left {
  text-align: left;
}
