.component-editor {
  &__field {
    border-left: 3px solid #c5d2d8;
    padding-left: 1em;
    transition: border-color 0.18s linear;

    &:focus-within {
      border-color: #4a90e2;
    }

    &.with-error {
      border-color: #d9453f;
    }
  }

  & &__field-label {
    color: #8091a5;
    font-weight: normal;
    margin-bottom: 0;
  }

  &__hint {
    font-style: italic;
  }
}
