.component-editor {
  &__field {
    border-left: 3px solid #c5d2d8;
    padding-left: 1em;
    transition: border-color 0.18s linear;

    &:focus-within {
      border-color: #4a90e2;
    }

    &.with-error {
      border-color: #d9453f;
    }
  }

  .field-open {
    border-left-color: #4a90e2; // #0c141c; // #192532 // #263545
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 8px;
  }

  & &__field-label {
    color: #8091a5;
    font-weight: normal;
    margin-bottom: 0;
  }

  &__hint {
    font-style: italic;
  }

  [class*='EntryCard__EntryCard--drag-active'] {
    background-color: white;
    // opacity: 0;
  }

  .dragged-over--up,
  .dragged-over--down {
    // visibility: hidden;
    transition: transform 0.3s ease-in;
  }

  .dragged-over--up {
    transform: translateY(-60px);
  }

  .dragged-over--down {
    transform: translateY(60px);
  }

  // logic
  .logic-editor__card {
    position: relative;
    margin-bottom: 20px;
  }

  .logic-editor__clear {
    position: absolute;
    top: 10px;
    right: -30px;
  }

  .logic-editor__open,
  .logic-editor__close {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .logic-editor__clear,
  .logic-editor__close,
  .logic-editor__open {
    cursor: pointer;
  }

  .logic-editor__row {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .logic-editor__field {
    display: inline-block;
    min-width: 200px;
    max-width: 200px;
    margin-right: 10px;
  }
}
