html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.custom-template-entry-builder {
  box-sizing: border-box;
  padding: 0 4px;
}

.custom-template-entry-builder__section {
  margin-bottom: 60px;
}

.entry-field {
  margin: 20px 0;
  border-left: 1px solid #c5d2d8;
  padding-left: 20px;
}

/* .entry-group__header-section h1,
.entry-group__header-section p {
  display: inline-block;
  margin-right: 10px;
} */

.entry-container {
  display: flex;
  flex-wrap: wrap;
}

.role-section {
  margin: 20px 0 40px;
  padding: 4px;
  flex: 0 0 100%;
}

.role-section__header-section {
  display: flex;
  justify-content: space-between;
}

.required-text {
  color: #4a90e2;
}

.optional-text {
  color: #8797a9;
}

.entry-action-row {
  display: flex;
  justify-content: flex-start;
  padding: 40px 0 20px;
}

.entry-action-row .link-entries-row__button {
  margin-right: 10px;
}

.extension__refresh {
  margin: 40px 0;
}

.role-section__heading h3 {
  display: inline-block;
}
