.select-component-modal {
  position: relative;
  min-height: 560px;

  &__top {
    background-color: white;
    position: sticky;
    top: -2rem;
    padding-top: 2rem;
    z-index: 1;

    p {
      margin-top: 0;
    }
  }

  &__actions {
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: sticky;
    bottom: -2rem;
    z-index: 1;
  }
  .tags {
    z-index: 1;
  }
  .tag {
    min-width: 30px;
    padding: 0.475em;
    text-transform: capitalize;
    display: inline-block !important;
    border-radius: 6px;
    border: 1px solid lightgray;
  }
}
