.select-component-modal {
  position: relative;

  &__top {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;

    p {
      margin-top: 0;
    }
  }
  // height: 90vh;
  // overflow: hidden;

  // [class*='ModalContent__ModalContent'] {
  //   overflow: hidden;
  // }

  // &__results {
  //   overflow: scroll;
  // }
}
