/* style editor */

.style-editor {
  margin: 40px 0;
}

.style-editor__field-group {
  margin-bottom: 20px;
}

.style-editor__section {
  background-color: #f5f7f8;
  margin-top: 20px;
  padding: 20px;
}

.style-editor__heading {
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.style-editor__heading:hover {
  text-decoration: underline;
}

.style-editor__heading--icon {
  margin-right: 10px;
}

.style-editor__inline-input-section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.style-editor__radio-section {
  margin-right: 40px;
}

.style-editor__radio-field input,
.style-editor__radio-field label {
  cursor: pointer;
}

.style-editor__radio-field:hover label {
  text-decoration: underline;
}

.style-editor__color-radio {
  min-width: 100px;
}
.style-editor__color-section {
  display: inline-flex;
  margin-left: 10px;
}

.style-editor__color-box {
  height: 16px;
  border: 1px solid black;
  margin-right: 4px;
  width: 16px;
}
