html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.editor {
  max-width: 768px;
  margin: 0 auto;
  margin-bottom: 100px; /* for some reason the iframe started appearing without enough spacing at the bottom */
}

.entry-card {
  max-width: 640px;
}

.d-none {
  display: none !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-flex-row-center-start {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

/* contentful overrides */
