html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.editor {
  max-width: 768px;
  margin: 0 auto;
}

.entry-card {
  max-width: 640px;
}

.d-none {
  display: none !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-flex-row-center-start {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

/* contentful override */

[class*='DropdownList__DropdownList'] {
  overflow-y: auto;
  max-height: 500px;
  width: 600px;
}

[class*='DropdownListItem__DropdownListItem'] {
  width: 300px;
}
